{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main-page-style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/weather-block-refresh.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="upper-site-container">
        <div id="upper-site-title"><i style="color:yellow" class="fas fa-sun"></i>Sprawdź pogodę!</div>
        <div id="city-select-container">
            <label id="city-select-label">wybierz miasto</label>
            <select id="city-select">
                <option value="">-</option>
                {% for city in cities %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <label id="auto-refresh-information">pogoda odświeża się automatycznie co minutę</label>
    </div>
    <div class="loader" hidden></div>
    <div id="weather-block" hidden>
        <div id="weather-block-title">
            <span id="city-name">-</span>
        </div>
        <div class="info-container">
            <div class="info-text"><i class="fas fa-wind weather-info-icon"></i> siła wiatru</div>
            <div class="info-amount info-text"><b><span id="wind-speed">-</span></b> m/s</div>
        </div>
        <div class="info-container">
            <div class="info-text"><i class="fas fa-tint weather-info-icon"></i> wilgotność</div>
            <div class="info-amount info-text"><b><span id="humidity">-</span></b> %</div>
        </div>
        <div class="info-container" style="float:none;">
            <div class="info-text"><i class="fas fa-temperature-low weather-info-icon"></i> temperatura</div>
            <div class="info-amount info-text"><b><span id="temperature">-</span></b> &deg;C</div>
        </div>
        <div class="refresh-date">ostatnia aktualizacja pogody</div>
        <div class="refresh-date"><span id="refresh-date">-</span></div>
    </div>
{% endblock %}
