.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #42a5f5;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 600ms linear infinite;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
