#upper-site-container {
    background-color: #42a5f5;
    width: 100%;
    height: 300px;
    text-align: center;
    border-bottom: 1px solid lightgray;

}

#upper-site-title {
    font-weight: bold;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    justify-content: center;
    line-height: 150px;
}

#city-select-container {
    display: inline-grid;
}

#city-select-label {
    margin-bottom: 20px;
}

#auto-refresh-information {
    margin-top: 40px;
    display: block;
    color: yellow;
}

#weather-block {
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    width: 350px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    letter-spacing: 1px;
}

#weather-block-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #42a5f5;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    font-size: 18px;
    border-bottom: 1px solid whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-container {
    width: 50%;
    float: left;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-top: 20px;
}

.info-text {
    text-align: center;
}

.info-amount {
    font-size: 24px;
}

.weather-info-icon {
    color: #42a5f5;
}

.refresh-date {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: gray;
    padding: 2px;
}
