body {
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

select {
    width: 150px;
    background-color: whitesmoke;
    color: #303030;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 15px;
    padding: 30px;
    height: 35px;
}

label {
    font-size: 16px;
    font-style: italic;
    color: white;
    letter-spacing: 1px;
}
